body {
    background-color: aqua;
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
}
img {
    width: 100%;
}
table, td, th{
    border: solid 5px #000000;
    border-collapse: collapse;
}
th{
    font-size: 50px;
}
caption{
    font-size: 100px;
}
td{
    font-size: 1px;
}